<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="EasyProxy"
    Manufacturer="EasyProxy"
    Version="$(var.ProductVersion)"
    UpgradeCode="A0387026-2F07-4C9E-8797-FA717835C21B"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of EasyProxy is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Icon Id="EasyProxy.exe" SourceFile="$(var.PublishDir)\EasyProxy.exe" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="EasyProxy" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="EasyProxy" />
    </StandardDirectory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="AppProxyHelperExeComponent" Guid="61F4DF02-5F1F-4529-B6C0-B8096741BE59" Bitness="always64">
        <File Id="AppProxyHelperExe" Source="$(var.PublishDir)\EasyProxy.exe" KeyPath="yes">
          <Shortcut
            Id="ApplicationStartMenuShortcut"
            Directory="ApplicationProgramsFolder"
            Name="EasyProxy"
            Description="Launch EasyProxy"
            WorkingDirectory="INSTALLFOLDER"
            Icon="EasyProxy.exe"
            Advertise="yes" />
        </File>
      </Component>

      <Component Id="WinDivertDllComponent" Guid="F7B0D65D-0664-4C8D-9267-311DD1D536A5" Bitness="always64">
        <File Id="WinDivertDll" Source="$(var.PublishDir)\WinDivert.dll" KeyPath="yes" />
      </Component>

      <Component Id="WinDivertDriverComponent" Guid="B58626BD-F1B1-494A-B0A6-51652EF836D9" Bitness="always64">
        <File Id="WinDivertDriver" Source="$(var.PublishDir)\WinDivert64.sys" KeyPath="yes" />
      </Component>

      <Component Id="ExampleConfigComponent" Guid="0305E949-59BB-4310-8D83-C11C07F5644F" Bitness="always64">
        <File Id="ExampleConfig" Source="$(var.PublishDir)\app-proxy.example.json" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationProgramsFolderComponent" Guid="BBA190E0-84AA-4784-8C19-A8C71CF9B1A2" Bitness="always64">
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\EasyProxy"
          Name="StartMenuFolder"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="EasyProxy" Level="1">
      <ComponentRef Id="AppProxyHelperExeComponent" />
      <ComponentRef Id="WinDivertDllComponent" />
      <ComponentRef Id="WinDivertDriverComponent" />
      <ComponentRef Id="ExampleConfigComponent" />
      <ComponentRef Id="ApplicationProgramsFolderComponent" />
    </Feature>
  </Package>
</Wix>
